* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow', sans-serif;
  }
  
  html {
    font-size: 65%;
    scroll-behavior: smooth;
   
  }
 
  @font-face {
    font-family: 'Bodoni MT Bold';
    src: url('../fonts/BOD_B.TTF') format('truetype');
    font-weight: bold;
  }

  body {
    --main-color: #00377b;
    --primry-color: #FFD006;
    --secondary-color: #d32a0b;
  }
  
  
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
  }
  a:hover {
    text-decoration: none
  }
  li {
    list-style: none;
  }
  
  
  .header{
    /* min-height: 100vh; */
    padding: 100px 0;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #141414 30%, #212121 100%);
    /* background-image: linear-gradient(180deg, #001861 30%, #000A32 100%); */
    position: relative; /* Ensure the wave is relative to the header */
    overflow: hidden; /* Hide overflow to prevent extra space below the wave */
    
  }
  .header video{
    margin-left: 20px;
  }
  .custom-shape-divider-bottom-1723288429 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
 
}

.custom-shape-divider-bottom-1723288429 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
     margin-bottom: -2px; 
    transform: translateY(-1px);

    
}

.custom-shape-divider-bottom-1723288429 .shape-fill {
    fill: #FFFFFF;
}

.video-container video {
    border: 5px solid #fff;
    border-radius: 10px;
}
.header h1{
    /* font-family: 'Bodoni MT Bold', sans-serif; */
    font-weight: 400;
    font-size: 4.5rem;
    /* line-height: 7rem; */
    color: #ffffff;
    text-align: center;
}
.header h2{
    /* font-family: 'Bodoni MT', sans-serif; */
    font-weight: lighter;
    font-size: 4.5rem;
    /* line-height: 7rem; */
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}
.tiltleweb{
    font-weight: 800;
    font-size: 6rem;
    margin-bottom: 20px;
}
.header .coloumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lead{
    color: #fff;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
}

.bookingbtn{
    background: var(--primry-color);
    border: 1px solid var(--primry-color);
    font-size: 3rem;
    font-weight: 500;
    color: black;
}

.bookingbtn2{
    background: var(--primry-color);
    border: 1px solid var(--primry-color);
    font-size: 5rem;
    font-weight: 500;
    color: black;
    width: 80%;
}
#section2{
    background: #F7F8F9;
    padding: 60px 0;
}
#section2 h2{
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 120%;
    color: var(--secondary-color);
    text-align: center;
}
.keyfeaturediv{
    display: flex;
}
.keyfeature{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .45);
    background: #212121;
    width: 50%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.keyfeature p{
    color: #fff;
    font-weight: 400;
    font-size: 2.8rem;
    /* font-family:'Bodoni MT Bold',sans-serif; */
    text-align: center;
    text-transform: capitalize;
    margin-top: 1rem;
}
.keyfeature svg{
    margin-top: .5rem;
}
.custom-shape-divider-top-1723343011 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1723343011 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1723343011 .shape-fill {
    fill: #FFFFFF;
}
.points{
    position: relative;
    background-color: #fff0;
    background-image: linear-gradient(180deg, #131313 0%, #181818 100%);
    padding: 60px 0;
   
}
.points h2{
    color: var(--primry-color);
    font-size: 600;
    font-size: 6rem;
    text-align: center;
    margin-top: 100px;
}
.keypoints{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.keypointdiv{
    background-color: #FBF9E0;
    border-radius: 10px;
    margin-top: 4rem;

}
.keypointdiv h3{
    color: var(--secondary-color);
    font-size: 3.4rem;
    font-weight: 600;
    text-align: center;
}
.keypointdiv ul{
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}
.keypointdiv li{
    display: flex;
}
.countdown {
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 50%;
    margin-top: 2rem;
}
.countdowndiv{
    margin: 10px;
    background: #d32a0b;
    padding: 2rem 3rem;
    border-radius: 25px;
    border: 2px solid var(--primry-color);
}

.about{
    box-shadow: 0 0 10px 0 rgb(0 0 0 / .5);
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.name{
    color: #000000;
    text-align: center;
    font-size: 6.5rem;
    font-weight: 600;
}
.description p{
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 100%;
}

.description h3{
    color: var(--secondary-color);
    font-size: 3.4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-shape-divider-top-1723354400 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -2px;
}

.custom-shape-divider-top-1723354400 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    
}

.custom-shape-divider-top-1723354400 .shape-fill {
    fill: #FFFFFF;
}
.faq{
    background: #000000;
    position: relative;
    padding: 60px 0;
}
.faqheading{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 80px;
    border-bottom: 4px solid #fff;
    padding-bottom: 1rem;
}
.question{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.question p{
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: 1rem;
}
.answer p{
    font-size: 1.8rem;
    font-weight: 500;
    color:#ffffff;
    margin-left: 35px;

}
.custom-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.custom-shape-bottom {
    bottom: -1px;
}

.custom-shape-bottom svg {
    height: 151px;
    transform: translateX(-50%) rotateY(180deg);
}

.custom-shape svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    height: 100%;

}
.custom-shape .custom-shape-fill {
    fill: #fff;
    transform-origin: center;
    transform: rotateY(0deg);
}

.testimonial{
    padding: 60px 0;
    background: #F7F8F9;
}
.testimonialkey{
    /* margin-top: 5rem; */
    padding: 5rem;
    width: 90%;
    margin: auto !important;
}
.testimonialkey p{
    font-size: 4.5rem;
    color: var(--secondary-color);
    font-weight: 600;
}
.testimonialkey i{
    margin-right: 1rem;
}

.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
    
    .title {
      opacity: 0;
      animation: show 0.35s forwards ease-in-out 0.5s;
    }
  } 
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .earlyBird{
    text-align: center; color: #fff; margin: 10px; font-size: 8rem; font-weight: 500; letter-spacing: -3px; margin-top: 4rem;
  }
    .earlyBirdValid{
        color: #ffffff;
        font-size: 3.4rem;
        font-weight: 600;
        text-align: center;
    }
    .videotestiomal{
        padding: 4rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 4 columns with equal width */
        gap: 20px; /* Space between the videos */
    }
    .singlevideo{
        /* margin: 10px 10px 10px 10px; */
        border-style: solid;
        border-width: 3px 3px 3px 3px;
        border-color: #008779;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / .5);
        width: 100%;
    }
    

    .singlevideo video {
        width: 100%; /* Ensures the video fills its container */
        border-radius: 5px; /* Optional: rounded corners for the video */
    }
    .incase{
        font-size: 4rem;width: 90%; margin: auto; letter-spacing: -1px;
    }

    /* Center the videos in the second row without increasing their width */
    /* .singlevideo:nth-child(5) {
        grid-column-start: 2; 
    }

    .singlevideo:nth-child(6) {
        grid-column-start: 3; 
    } */


    .workshoprow{
        width: 90%;
        margin: auto !important;
    }
    .earlyBirdOffer {
        width: 90%;
        margin: auto;
    }

    .earlyBirdOffer a{
        font-size: 4rem;
    }

    .paymentpage{
        background: #ECECEC;
        padding: 60px 0;
        margin: 0px;
    }



    .paymentrow {
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 15px; /* Optional: Adjust the gap between columns */
    }
    
    .paymentcolumn {
        /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
        border-radius: 5px;
        background: #ffffff;
        padding: 20px; 
    }

    .paymentheading{
        font-size: 1.8rem;
        font-weight: 500;
        color: #000;
        text-align: justify;
        margin-top: 3rem;
    }

    .paymentform label{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .paymentform .form-control,.form-select{
        padding: .8rem 1rem;
        font-size: 1.5rem;
        border-radius: .3rem;
    }
   .paymentform input::placeholder {
        font-size: 1.5rem;
        color: #888;
        font-weight: 500;
    }
    .paymentform .btn-primary{
        padding: 8px 30px;
        font-size: 18px;
    }

    .bankdetails p{
        font-size: 1.5rem;

    }
    .bankdetails ul li{
        font-size: 1.5rem;
        display: flex;
    }

    .yellowdiv{
        width: 80%; margin: auto;
    }

    .faqdiv{
        margin-top: 50px;margin-bottom: 200px;
    }
  /*************************************responsive website layout start  ***************************************/
  
  
  
   /* Small screens, such as smartphones / */
  @media (max-width: 767px) {
  
        html {
          font-size: 45%;
        }
        .points h2{
            font-size: 4rem;
        }
        .about{
            width: 100%;
        }
        .faq .container{
            width: 90%;
        }
        .testimonialkey p {
            font-size: 4rem;
        }
        .bookingbtn2 {
            font-size: 3rem;
        }
        .bookingbtn {
            font-size: 3rem;
        }
        .name {
            font-size: 4rem;
        }
        .keyfeature p{
            font-size: 2rem;

        }
        .earlyBird{
            font-size: 4rem;
            letter-spacing: 0;
        }
        /* .earlyBirdValid{
            font-size: 4rem;
        } */
        .description h3{
            
            font-size: 3rem;
        }
        .videotestiomal{
            width: 100%;
            grid-template-columns: repeat(2, 1fr); 
        }
        .singlevideo{
            margin: 0px;
        }
        .header video{
            margin-left: 0px;
          }
          .header h2{
            font-size: 7rem;
            font-weight: 500;
          }
          .tiltleweb{
            font-weight: 800;
            font-size: 8.5rem;
            margin-bottom: 20px;
          }
          .earlyBirdOffer a{
            font-size: 2.5rem;
        }
        .paymentrow {
            grid-template-columns: 100%;
        }
        .paymentpage .earlyBirdValid{
            font-size: 3rem !important;
        }
        .yellowdiv{
            width: 100%;
        }
        .custom-shape-divider-top-1723343011 svg{
            height: 60px;
        }
        .custom-shape-divider-top-1723354400 svg{
            height: 20px;
        }
        /* .images img{
            height: 100px;
            width: 100px;
        } */
        .faq{
            padding: 1px 0;
        }
        .faqdiv{
            margin-bottom: 100px;
        }
        .images{
            display: none;
        }
        .imagesmobile{
            display: block !important;
        }
    
  }
  
   /* Tablets in portrait mode / */
  @media (min-width: 768px) and (max-width: 1023px) {
    
        html {
          font-size: 50%;
        }

  }
  
  /* / Tablets in landscape mode and small desktops / */
  @media (min-width: 1024px) and (max-width: 1399px) {
        html {
          font-size: 50%;
        }
        .keypoints{
            width: 92%;
        }
        .incase{
            width: 88%;
        }
        .earlyBirdOffer a{
            font-size: 5rem;
        }

  
  }
  /* / Standard desktops and laptops / */
  @media (min-width: 1400px) and (max-width: 1919px) {
    
      html {
        /* font-size: 55%; */
        scroll-behavior: smooth;
      }

  }
  /* / Large screens and high-resolution displays / */
  @media (min-width: 1920px) {
      .container {
        max-width: 1440px; 
        padding: 0;
      }
      .row {
        max-width: 1440px; 
        padding: 0;
        margin: 0;
      }
      .header h2{
        font-size: 5rem;
      }
      .earlyBirdOffer a{
        font-size: 5rem;
    }
  }